# deps
node_modules/
.pnpm-store/

# builds
dist/
.next/
out/
build/
*.tsbuildinfo

# turbo
.turbo/

# test / coverage
coverage/

# env & secrets
.env
.env.*
!.env.example

# misc
.DS_Store
*.log
.idea/
.vscode/
